.container
  %h2.col-6{style: 'height: 10vmin;'} トラブル管理
.container{style: 'height: 20vmin;'}
  = search_form_for @search, url: troubles_url do |f|
    .row.text-center
      = f.label :category, "カテゴリ検索"
      .div
        = f.collection_select :category_id_eq, Category.branch_troubles, :id, :name ,{class: "form-control"}
        = button_to "検索", class: 'glyphicon glyphicon-search'
.container{style: 'height: 20vmin;'}
  %table
    %colgroup
      %col{style: 'width: 15%;'}
      %col{style: 'width: 10%;'}
      %col{style: 'width: 10%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 5%;'}
    %thead
      %tr
        %th 内容
        %th 状態
        %th カテゴリ
        %th 解決策
        %th 参考記事
        %th{:colspan => "3"}
    %tbody
      - @troubles.each do |trouble|
        %tr
          %td= trouble.name
          %td= trouble.status.name
          %td= trouble.category.name
          %td= trouble.solution
          %td= trouble.url
          %td= link_to 'Edit', edit_trouble_path(trouble), class: 'glyphicon glyphicon-pencil'
          %td= link_to 'Destroy', trouble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash'
  %br/
  = link_to '課題を追加する', new_trouble_path
