%p#notice= notice
%h1 Troubles
%table
  %thead
    %tr
      %th Reference
      %th Solution
      %th User
      %th{:colspan => "3"}
  %tbody
    - @troubles.each do |trouble|
      %tr
        %td= trouble.reference
        %td= trouble.solution
        %td= trouble.user_id
        %td= link_to 'Show', trouble
        %td= link_to 'Edit', edit_trouble_path(trouble)
        %td= link_to 'Destroy', trouble, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Trouble', new_trouble_path
