#category-delete-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#category-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#status-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#status-delete-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#trouble-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
#trouble-show-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
.container
  = form_for @variable_trouble, url: troubles_url, method: :post, html: {class: "form-inline"} do |form|
    = render partial: 'form', locals: { form: form }

.container
  %h2.col-6{style: 'height: 10vmin;'} トラブル管理
.container{style: 'height: 15vmin;'}
  = search_form_for @search, url: troubles_url, html: {class: "form-inline"} do |f|
    .row.text-center
      = f.label :category, "カテゴリ検索"
      .div
        .col-md-2.col-md-offset-5
          .form-group
            = f.collection_select :category_id_eq, Category.branch_troubles, :id, :name , {}, {class: "form-control"}
            = button_tag "検索", {class: 'btn btn-primary'}
.container{style: 'height: 20vmin;'}
  %table.table.table-hover
    %colgroup
      %col{style: 'width: 12%;'}
      %col{style: 'width: 8%;'}
      %col{style: 'width: 10%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 5%;'}
      %col{style: 'width: 5%;'}
    %thead
      %tr
        %th 内容
        %th 状態
        %th カテゴリ
        %th 解決策
        %th 参考記事
        %th
        %th
    %tbody
      - @troubles.each do |trouble|
        %tr
          %td= trouble.name
          %td= trouble.status.name
          %td= trouble.category.name
          %td= trouble.solution
          %td= link_to trouble.url.truncate(40), trouble.url, :target=>["_blank"]
          %td= link_to '', edit_trouble_path(trouble), remote: true, class: 'glyphicon glyphicon-pencil'
          %td= link_to '', trouble_path(trouble), remote: true, class: 'glyphicon glyphicon-th-list'
          %td= link_to '', trouble, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash'