.field
  = form.label :name
  = form.text_field :name
.field
  = form.label :category
  = form.collection_select :category_id, Category.all, :id, :name
.field
  = form.label :status
  = form.collection_select :status_id, Status.all, :id, :name
.actions
  = form.submit