.field.form-group
  = form.label 'タスク名'
  .div
    - if @variable_task.new_record?
      = form.text_field :name, class: 'form-control'
    - else
      = form.text_field :name, class: 'form-control', required: true
.field.form-group
  = form.label 'カテゴリ'
  .div
    = form.collection_select :category_id, Category.branch_tasks, :id, :name, {}, {class: "form-control"}
.field.form-group
  = form.label 'ステータス'
  .div
    = form.collection_select :status_id, Status.branch_tasks, :id, :name, {}, {class: "form-control"}
.field.form-group
  %br
    = form.submit class: "btn btn-success"