.field
  = form.label 'タスク名'
  = form.text_field :name
.field
  = form.label 'カテゴリ'
  = form.collection_select :category_id, Category.branch_tasks, :id, :name
.field
  = form.label 'ステータス'
  = form.collection_select :status_id, Status.branch_tasks, :id, :name
.actions
  = form.submit