%h1 タスクを追加
= link_to 'カテゴリを追加', new_category_path, remote: true, class: "btn btn-lg btn-primary"
#category-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
= link_to 'カテゴリを削除', delete_category_select_path, remote: true, class: "btn btn-lg btn-primary"
#category-delete-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
= form_for @task, url: tasks_url, method: :post do |form|
  = render partial: 'form', locals: { form: form }
  = link_to 'Back', tasks_url
