= form_with(model: login_id, local: true) do |form|
  - if login_id.errors.any?
    #error_explanation
      %h2
        = pluralize(login_id.errors.count, "error")
        prohibited this login_id from being saved:
      %ul
        - login_id.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :authenticate_key
    = form.text_field :authenticate_key
  .field
    = form.label :secret_id
    = form.number_field :secret_id
  .actions
    = form.submit
