%p#notice= notice
%h1 Login Ids
%table
  %thead
    %tr
      %th Authenticate key
      %th Secret
      %th{:colspan => "3"}
  %tbody
    - @login_ids.each do |login_id|
      %tr
        %td= login_id.authenticate_key
        %td= login_id.secret_id
        %td= link_to 'Show', login_id
        %td= link_to 'Edit', edit_login_id_path(login_id)
        %td= link_to 'Destroy', login_id, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Login', new_login_id_path
