%div
  = form_for @user, url: users_path, method: :post do |f|
    %fieldset
      %legend{:align => "center"}= 'ログイン画面'
      .row
        .col-4.offset-4
          .field
            = f.label 'ログインID'
            = f.text_field :authenticate_key, size: 15, required: true
        .col-4.offset-4
          .field
            = f.label 'パスワード'
            = f.text_field :password, size: 15, required: true
        = button 'ログイン'
