.field.form-group
  = form.label '場所'
  .div
    = form.text_field :name, class: 'form-control'
.field.form-group
  = form.label 'パスワード'
  .div
    = form.text_field :password, class: 'form-control'
.field.form-group
  %label ID
  .div
    = form.text_field :key, class: 'form-control'
    = form.hidden_field :user_id, value: current_user.id
.field.form-group
  %br
    = form.submit class: "btn btn-success"