%p#notice= notice
%h1 Secrets
%table
  %thead
    %tr
      %th Place
      %th{:colspan => "3"}
  %tbody
    - @secrets.each do |secret|
      %tr
        %td= secret.place
        %td= link_to 'Show', secret
        %td= link_to 'Edit', edit_secret_path(secret)
        %td= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Secret', new_secret_path
