.container
  %p#notice= notice
  %h1 パスワード管理
.container{style: 'height: 20vmin;'}
  %table
    %colgroup
      %col{style: 'width: 30%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 30%;'}
      %col{style: 'width: 5%;'}
      %col{style: 'width: 5%;'}
    %thead
      %tr
        %th 場所
        %th キー
        %th パスワード
        %th
        %th
    %tbody
      - @secrets.each do |secret|
        %tr
          %td= secret.name
          %td= secret.key
          %td= secret.password
          %td= link_to 'Edit', edit_secret_path(secret)
          %td= link_to 'Destroy', secret, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Secret', new_secret_path
