.container
  = form_for @variable_secret, url: secrets_url, method: :post, html: {class: "form-inline"} do |form|
    = render partial: 'form', locals: { form: form }
.container
  %h1 パスワード管理
.container{style: 'height: 20vmin;'}
  %table#secret-table.table.table-hover
    %colgroup
      %col{style: 'width: 25%;'}
      %col{style: 'width: 50%;'}
      %col{style: 'width: 50%;'}
      %col{style: 'width: 5%;'}
      %col{style: 'width: 5%;'}
      %col{style: 'width: 5%;'}
    %thead
      %tr
        %th 場所
        %th ID
        %th パスワード
        %th
        %th
        %th
    %tbody
      - @secrets.each do |secret|
        %tr{class: 'secret-row', 'data-row' => secret.id}
          %td= secret.name
          %td= '**********'
          %td= '**********'
          %td= link_to '', '', id: 'secret-action', class: 'secret-edit secret-action glyphicon glyphicon-pencil', 'data-secret' => secret.to_json, 'data-password' => decrypt(secret.password), 'data-is-show' => true, remote: true
          %td= link_to '', '', id: 'secret-action', class: 'secret-show secret-action glyphicon glyphicon-th-list', 'data-secret' => secret.to_json, 'data-password' => decrypt(secret.password), 'data-is-show' => false, remote: true
          %td= link_to '', secret, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete", class: 'glyphicon glyphicon-trash'
