= form_for @category do |category_form|
  .modal-dialog
    .modal-content
      .modal-body
        .field
          = category_form.label "カテゴリ名"
          = category_form.text_field :name
          = category_form.hidden_field :classification, value: params[:classification]
          = category_form.hidden_field :user_id, value: current_user.id
      .modal-footer
        .actions
          = category_form.submit
