%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Personal
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{'data-turbolinks' => 'false'}
    .header
      .icon
        PERSONAL
        %ul.menu
          %li.spread
            - if user_signed_in?
              = link_to '', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-in unit', title: "ログアウト"
            - else
              = link_to '', new_user_session_path, class: 'glyphicon glyphicon-log-out unit', title: "ログイン"
          %li.spread
            = link_to '', tasks_path, class: 'glyphicon glyphicon-tasks unit', title: "タスク管理"
          %li.spread
            = link_to '', secrets_path, class: 'glyphicon glyphicon-question-sign unit', title: "パスワード管理"
          %li.spread
            = link_to '', troubles_path, class: 'glyphicon glyphicon-warning-sign unit', title: "トラブル管理"
          - if request.url.include?(tasks_path)
            %li.spread
              = link_to 'TSCT', new_category_path(classification: Constants::TASKS_CLASSIFICATION), remote: true, class: "glyphicon glyphicon-arrow-up unit", title: "カテゴリ追加"
            %li.spread
              = link_to 'TSCT', delete_category_select_path, remote: true, class: "glyphicon glyphicon-trash unit", title: "カテゴリ削除"
          - elsif request.url.include?(troubles_path)
            %li.spread
              = link_to 'TRCT', new_category_path(classification: Constants::TROUBLES_CLASSIFICATION), remote: true, class: "glyphicon glyphicon-arrow-up unit", title: "カテゴリ追加"
            %li.spread
              = link_to 'TRCT', delete_category_select_path, remote: true, class: "glyphicon glyphicon-trash unit", title: "カテゴリ削除"
          - if request.url.include?(tasks_path)
            %li.spread
              = link_to 'TSST', new_status_path(classification: Constants::TASKS_CLASSIFICATION), remote: true, class: "glyphicon glyphicon-arrow-up unit", title: "ステータス追加"
            %li.spread
              = link_to 'TSST', delete_status_select_path, remote: true, class: "glyphicon glyphicon-trash unit", title: "ステータス削除"
          - elsif request.url.include?(troubles_path)
            %li.spread
              = link_to 'TRST', new_status_path(classification: Constants::TROUBLES_CLASSIFICATION), remote: true, class: "glyphicon glyphicon-arrow-up unit", title: "ステータス追加"
            %li.spread
              = link_to 'TRST', delete_status_select_path, remote: true, class: "glyphicon glyphicon-trash unit", title: "ステータス削除"
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}= message
    %p.alert= alert
    = yield
